<div class="form-group  p-4">
  <div class="row">
    <div class="col-md-5">
      <div class="card text-center">
        <div class="card-head ">
          <h2>Datos de usuario</h2>
          <SPAN>componente hijo</SPAN>
        </div>
        <hr />
        <h4>Name Of User:</h4>
        <label> {{ name }}</label>
        <br />
        <h4>First Surname Of User:</h4>
        <span> {{ firstSurname }}</span>
        <br />
        <h4>Second Surname Of User:</h4>
        <span> {{ secondSurname }}</span>
        <br />
        <h4>Home Of User:</h4>
        <span>{{ home }}</span>
        <h4>Country Of User:</h4>
        <span>{{ message }}</span>
      </div>
    </div>
  </div>
</div>
